 body {
    display: grid;
    background-color: black;
    background-image: url("/images/desktop/background-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Mr Dafoe';
    font-size: 40px;

}

h2, h3 {
    font-size: 22px;
    font-family: 'Special Elite', cursive;
}

p {
    font-size: 18px;
    font-family: 'Special Elite', cursive;
}

img {
    width: 100%
}

.nav-container {
    border: 2px solid white;
    background-color:  rgba(15, 6, 6, 0.5) ;
    
   
}

.main-nav {
}

.main-nav-list {
    font-size: 1,5rem;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    list-style: none;
    margin: 0 auto;
}


.main-nav-item {
    Padding: 0 2rem ; 
    margin: 0 auto;
    width: 100%;
    padding-top: 10%;
    border-bottom: 10px solid rgba(194, 49, 49, 0.3) ;
    
}


.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
 


.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; 

}

.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  } 

  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  

.logo {
    width: 40%;
    max-width: 300px;
    min-width: 150px;
    padding: 1rem;
    
}

.row {
    display: flex;
   
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: rgba(15, 6, 6, 0.5) ;
    color: white;
 
}

ul.breadcrumb li {
    display: inline;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: white;
    text-decoration: none;
 }

 ul.breadcrumb li a:hover {
    color: rgba(194, 49, 49) ;
    text-decoration: none;
  }


a:link {
    color:white;
    text-decoration: none;
  }
  

a:visited {
    color: white;
  }
  
 
a:hover {
    color: #c23131;
  }
  

a:active {
    color: rgba(194, 49, 49);
}

.intro {
    width: 50%;
    background-color:  rgba(15, 6, 6, 0.7);
    margin: 0 auto;    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.0} 
    to {opacity: 1}
  
} 
    
   


.intro-text {
    color: white; 
    font-size: 20px;
    text-align: center;
    padding: 0 6rem;
    
}

.cta {
    position: relative;
    margin: 0 auto;
    display: flex;
    padding-top: 3rem;
    margin-top: 100px;
}

#cta-button {
    background-color: white;
    color: rgba(194, 49, 49);
    padding: 0 2rem;
    border-radius: 30px;
    font-size: 2rem;
    font-family: 'Mr Dafoe';
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 0 auto;
    border: 2px solid white;
   
} 

#cta-button:hover {
    background-color: black;
    color: white;
    
}


.blogg-links {
    display: flex;
    color: white;

}



.footer-container {
    background-color: black;
    width: 100%;
    color: white;    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.0} 
    to {opacity: 1}
  
} 


.footer-content {
   display: flex;
   flex-direction: row;
   width: 100%;
   margin: 0 auto;
   border-top: 2px solid white;
   list-style: none;
 
}

#footer-content-item {
    font-family: 'Mr Dafoe', cursive;
    font-size: 2rem;
    padding: 3rem;
    text-decoration: none;
    border-left: 2px solid white;
    margin: 0 auto;
}

.footer-content-item {
    font-family: 'Mr Dafoe', cursive;
    font-size: 2rem;
    padding: 3rem;
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    position: relative;
    
}

/* Blog */

.blog-container {
    color: white;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction:inherit;
    gap: 20px;
    background-color: black;
    padding: 1rem;
    margin-top: 60px;
    gap: 30px;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.0} 
    to {opacity: 1}
  
} 



#blog-container {
    color: white;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: auto;
    display: flex;
    gap: 20px;
    background-color: black;
    padding: 1rem;
    margin-top: 60px;
    gap: 30px;

}

.blog-box {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

#blog-box {
    gap: 20px;
    display: flex;
    flex-direction: column;
    
}

.blog-content {
    border: 3px solid white;
    opacity: 1.0;
    gap: 20px;

}

.blog-content1, .blog-content2, .blog-content3 {
    border: 3px solid white;
    opacity: 1.0;
    gap: 20px;

}

.blog-content:hover {
    opacity: 0.5;

}

.blog-content::after {
    opacity: 1.0;

}


.slideshow-container {
    color: white;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
     position: relative;
    margin: auto;
    display: flex;
    gap: 20px;
    background-color: black;
    padding: 1rem;
   
}

.mySlides fade {
    display: none;
}

.mySlides {
    height: 100%;

}

.prev, .next {
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
   
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    display: none;
    
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  
} 

.link-items {
    
    opacity: 1.0;
  
}

.link-items:hover {
     opacity: 0.5;

}

.link-items::after {
     opacity: 1.0;

}

/* About */

.about-container {

}

.about-item-container {
    display: flex;
    background-color: black;
    padding-bottom: 5rem;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.0} 
    to {opacity: 1}
  
} 

.about-content {
    justify-content: space-between;
    background-color: white;
    width: 50%;
    padding: 2rem;
    padding-top: 3rem;
}

#about-content {
    border: 3px solid white;
    width: 50%;
    height: 50%;
    

}

#link {
    color: rgba(194, 49, 49);
}

#link:hover {
    color: darkgrey;
    transition-duration: 0.4s;
    cursor: pointer;

}

/* Contact form*/

.form-container {
    border-radius: 5px;
    background-color: black;
    padding: 3rem;
    margin: 0 auto;
    width: 60%;
    animation-name: fade;
    animation-duration: 1.5s;
    box-sizing: border-box; 
}

@keyframes fade {
    from {opacity: 0.0} 
    to {opacity: 1}
  
} 
  

input[type=text], select, textarea{
    width: 80%; 
    padding: 12px;  
    border: 2px solid white;
    margin: 2rem;
    resize: vertical; 
  }

.contact-container {
      display: flex;
      flex-direction: row;
      background-color:  rgba(15, 6, 6, 0.7);
}

.container-items {
    color:white;
    align-items: flex-end;
    
}

.contact {
      padding-top: 20px;
      padding-bottom: 20px;
      justify-content: space-between;
      gap: 100px;
      color: white;
      font-family: 'Mr Dafoe', cursive;
      margin: 0 auto;
      text-align: center;
}

#email {
    width: 60%;
    color: white;
    padding: 1rem 1rem;
    margin-left: 40px;
    margin-right: 10px;

}

.submit-button {
    display: flex;
    padding-top: 1rem;

}

input[type=submit] {
    background-color: white;
    color: rgba(194, 49, 49);
    padding: 0 2rem;
    border-radius: 30px;
    font-size: 2rem;
    font-family: 'Mr Dafoe';
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 0 auto;
}

input[type=submit]:hover {
    color: white;
    background-color: black;
}

/* blog article*/

.drink-container {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.0} 
    to {opacity: 1}
  
} 
   

.drink-item-container {
    display: flex;
    
    background-color: black;
    padding-bottom: 5rem;

}

.drink-content {
    justify-content: space-between;
    background-color: white;
    width: 100%;
    padding: 2rem;
    padding-top: 3rem;


}

#drink-content {
    border: 3px solid white;
    width: 100%;
    
}


@media only screen and (max-width: 767px) { .slideshow-container
    { 
        display: row;
     }
 }


 

@media only screen and (max-width: 767px) { body 
    {  background-image: url(/images/mobile/background-mobile.jpg); }
 }

 @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }