 html, body {
    display: grid;
    background-color: black;
    background-image: url("/images/desktop/background-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    height: auto;
}

h1 {
    font-family: 'Mr Dafoe';
    font-size: 40px;
}

h2{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

h3 {
    font-family: 'Special Elite', cursive;
}

p {
    font-size: 18px;
    font-family: 'Special Elite', cursive;
}

img {
    width: 100%;
    height: auto;
}

.nav-container {
    border: 2px solid white;
    background-color:  rgba(15, 6, 6, 0.5) ;
}

.main-nav {
}

.main-nav-list {
    font-size: 1,5rem;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    list-style: none;
    margin: 0 auto;
}


.main-nav-item {
    Padding: 0 2rem ; 
    margin: 0 auto;
    width: 100%;
    padding-top: 10%;
    border-bottom: 10px solid rgba(194, 49, 49, 0.3) ;
    
}


.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 auto;
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    
    padding: 8px;
    text-decoration: none;
    margin: 0 auto;
    font-size: 36px;
    font-family: 'Mr Dafoe';
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }

  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: rgba(194, 49, 49);
  
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
  }
  

.logo {
    width: 40%;
    max-width: 300px;
    min-width: 150px;
    padding: 1rem;
    
}

.row {
    display: flex;
    padding-bottom: 40px;
   
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: rgba(15, 6, 6, 0.5) ;
    color: white;
 
}

ul.breadcrumb li {
    display: inline;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: white;
    text-decoration: none;
 }

 ul.breadcrumb li a:hover {
    color: rgba(194, 49, 49) ;
    text-decoration: none;
  }


a:link {
    color:white;
    text-decoration: none;
  }
  

a:visited {
    color: white;
  }
  
 
a:hover {
    color: #c23131;
  }
  

a:active {
    color: rgba(194, 49, 49);
}

.intro {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    background-color:  rgba(15, 6, 6, 0.7);
    margin: 0 auto;  
    animation-name: fade;
    animation-duration: 1.5s;
    padding: 6rem;
    gap: 50px;
    
}

@keyframes fade {
    from {opacity: 0.0} 
    to {opacity: 1}
  
} 
    
.intro-text {
    color: white; 
    font-size: 20px;
    text-align: center;
    padding: 0 4rem;
    
}

.cta {
    position: relative;
    display: flex;
    margin: 0 auto;
   
}

#cta-button {
    background-color: white;
    color: rgba(194, 49, 49);
    padding: 0 2rem;
    border-radius: 30px;
    font-size: 2rem;
    font-family: 'Mr Dafoe';
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 0 auto;
    border: 2px solid white;
   
} 

#cta-button:hover {
    background-color: black;
    color: white;
    
}


.blogg-links {
    display: flex;
    color: white;

}



.footer-container {
    background-color: black;
    width: 100%;
    height: auto;
    color: white;    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.0} 
    to {opacity: 1}
  
} 


.footer-content {
   display: flex;
   flex-direction: row;
   width: 100%;
   margin: 0 auto;
   border-top: 2px solid white;
   list-style: none;
 
}

#footer-content-item {
    font-family: 'Mr Dafoe', cursive;
    font-size: 2rem;
    padding: 3rem;
    text-decoration: none;
    border-left: 2px solid white;
    margin: 0 auto;
}

.footer-content-item {
    font-family: 'Mr Dafoe', cursive;
    font-size: 2rem;
    padding: 3rem;
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    position: relative;
    
}

/* Blog */

.blog-container {
    color: white;
    width: 90%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction:inherit;
    gap: 20px;
    background-color: black;
    padding: 1rem;
    margin-top: 60px;
    gap: 30px;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.0} 
    to {opacity: 1}
  
} 



#blog-container {
    color: white;
    width: 90%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: auto;
    display: flex;
    gap: 20px;
    background-color: black;
    padding: 1rem;
    margin-top: 60px;
    gap: 30px;
   

}

.blog-box {
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#blog-box {
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    
}

.container {
    gap: 20px;
    display: flex;
    width: 100%;
    height: auto;
}

.content {
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
 
}

.results {
    border: 3px solid white;
    opacity: 1.0;

}

.blog-content {
    border: 3px solid white;
    opacity: 1.0;
    gap: 20px;

}


.content, .blog-content1, .blog-content2, .blog-content3 {
    border: 3px solid white;
    opacity: 1.0;
    gap: 20px;

}

.blog-content:hover {
    opacity: 0.5;

}

.blog-content::after {
    opacity: 1.0;

}


.slideshow-container {
    color: white;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: auto;
    display: flex;
    gap: 20px;
    background-color: black;
    padding: 1rem;
    padding-top: 80px;
   
}

.mySlides fade {
    display: none;
}

.mySlides {
    height: auto;

}

.prev, .next {
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
   
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    display: none;
    
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  
} 

.link-items {
    
    opacity: 1.0;
  
}

.link-items:hover {
     opacity: 0.5;

}

.link-items::after {
     opacity: 1.0;

}

/* About */

.about-container {

}

.about-item-container {
    display: flex;
    background-color: black;
    padding-bottom: 5rem;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.0} 
    to {opacity: 1}
  
} 

.about-content {
    justify-content: space-between;
    background-color: white;
    width: 50%;
    padding: 2rem;
    padding-top: 3rem;
}

#about-content {
    border: 3px solid white;
    width: 50%;
    height: 50%;
    

}

#link {
    color: rgba(194, 49, 49);
}

#link:hover {
    color: darkgrey;
    transition-duration: 0.4s;
    cursor: pointer;

}

/* Contact form*/

.form-container {
    border-radius: 5px;
    background-color: black;
    padding: 3rem;
    margin: 0 auto;
    width: 60%;
    animation-name: fade;
    animation-duration: 1.5s;
    box-sizing: border-box; 
}

@keyframes fade {
    from {opacity: 0.0} 
    to {opacity: 1}
  
} 
  

input[type=text], select, textarea{
    width: 80%; 
    padding: 12px;  
    border: 2px solid white;
    margin: 2rem;
    resize: vertical; 
  }

.contact-container {
      display: flex;
      flex-direction: row;
      background-color:  rgba(15, 6, 6, 0.7);
}

.container-items {
    color:white;
    align-items: flex-end;
    
}

.contact {
      justify-content: space-between;
    
      color: white;
      font-family: 'Mr Dafoe', cursive;
      margin: 0 auto;
      text-align: center;
}

#email {
    width: 60%;
    color: white;
    padding: 1rem 1rem;
    margin-left: 40px;
    margin-right: 10px;

}

.submit-button {
    display: flex;
    padding-top: 1rem;

}

input[type=submit] {
    background-color: white;
    color: rgba(194, 49, 49);
    padding: 0 2rem;
    border-radius: 30px;
    font-size: 2rem;
    font-family: 'Mr Dafoe';
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 0 auto;
}

input[type=submit]:hover {
    color: white;
    background-color: black;
}

#status-success {
    color: green;

}

#status-error {
    color: red;
}

/* blog article*/

.drink-container {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: 0.0} 
    to {opacity: 1}
  
} 
   

.drink-item-container {
    display: flex;
    background-color: black;
    padding-bottom: 5rem;

}

.drink-content {
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: fit-content;
    padding: 2rem;
    padding-top: 3rem;


}

#drink-content {
    border: 3px solid white;
    width: 100%;
    
}

.single-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 100px;
    gap: 100px;
    animation-name: fade;
    animation-duration: 1.5s;
}



.single-content {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 2 1rem;
    text-align: center;
   
}

.about-item-container {
    display: flex;
    background-color: black;
    padding-bottom: 5rem;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.0} 
    to {opacity: 1}
  
} 

.about-content {
    justify-content: space-between;
    background-color: white;
    width: 50%;
    padding: 2rem;
    padding-top: 3rem;
}

#about-content {
    border: 3px solid white;
    width: 50%;
    height: 50%;
}


.fun-fact{
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    gap: 100px;
    padding: 1rem;
}

.details-title {
    margin-bottom: 0.7em;
}

.details-image {
    margin-bottom: 1em;
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}


.details-content {
    margin-bottom: 1em;
}


.hidden {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 300px;
    margin: 1rem;
    border-radius: 1rem;
    text-decoration: none;
}

.card a.details {
    margin-top: 0.5em;
    background-color: var(--grey) !important;
    color: white !important;
}

.card a.details:hover {
    background-color: var(--light-grey) !important;
    color: var(--grey) !important;
}

.card div.details {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background: white;
}

.name {
    font-size: 16px;
    margin-bottom: 0.75rem;
    color: var(--grey);
    font-weight: bold;
}

.image {
    height: 150px;
    background-size: cover;
    background-position: center top;
}

.thank-you-container {
    display: flex;
    animation-name: fade;
    animation-duration: 1.5s;

}

.thank-you-content {
    width: 60%;
    max-width: 650px;
    border: 2px solid white;
    background-color: black;
    padding: 2rem;
    margin: 0 auto;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 767px) { 
    
    .slideshow-container { 
        display: flex;
        flex-direction: column;
        max-width: 50%;
    
     }
 }

@media only screen and (max-width: 767px) { body 
    {  background-image: url(/images/mobile/background-mobile.jpg); }
 }

 @media screen and (max-width: 767px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

 @media only screen and (max-width: 767px) { 
    
    .blog-container { 
        display: flex;
        flex-direction: column;
        flex-flow: flow-wrap;
        max-width: 50%;
        block-size: auto;
        padding: 0rem;
     }
 }

 @media only screen and (max-width: 600px) {
    p {
      font-size: 14px;
    }
  }



 @media only screen and (max-width: 800px) { 
    
    .about-content  { 
        max-width: 100%;
        margin: 0 auto;
        padding: 3rem;
        
        
       
     }
 }  

 @media only screen and (max-width: 800px) { 
    
    #about-content  { 
        max-width: 100%;
        margin: 0 auto;
        
        
        
       
     }
 }  


 @media only screen and (max-width: 600px) { 
    
    .about-item-container { 
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 0 auto;
        background-color: none;
        
        
       
     }
 } 

  @media only screen and (max-width: 767px) { 
    
    .footer-container { 
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: 0 auto;
        border-color: #333;
      
       
       
     }
 }  



 @media only screen and (max-width: 767px) { 
    
    .footer-content,.footer-content-item{ 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 0 auto;
        border-style: none;
        padding: 1rem;
          
     }
} 


 @media only screen and (max-width: 767px) { 
    
     #footer-content-item { 
        max-width: 100%;
        margin: 0 auto;
        border-style: none;
        border-top: 2px solid white ;
        padding: 1rem;
      
       
       
     }
 }
 
 @media only screen and (max-width: 767px) { 
    
    .nav-container { 
       display: none;
      
      
    }
} 
 
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }