 body {
    display: grid;
    background-color: black;
    background-image: url("/images/desktop/background-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h2, h3 {
    font-size: 22px;
    font-family: 'Special Elite', cursive;
}

p {
    font-size: 18px;
    font-family: 'Special Elite', cursive;
}

img {
    width: 100%
}

.nav-container {
    border: 2px solid white;
    background-color:  rgba(15, 6, 6, 0.5) ;
    
   
}

.main-nav {
}

.main-nav-list {
    font-size: 1,5rem;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    list-style: none;
    margin: 0 auto;
}


.main-nav-item {
    Padding: 0 2rem ; 
    margin: 0 auto;
    width: 100%;
    padding-top: 10%;
    border-bottom: 10px solid rgba(194, 49, 49, 0.3) ;
    
}

.logo {
    width: 40%;
    max-width: 300px;
    min-width: 150px;
    padding: 1rem;
    
}

.row {
    display: flex;
   
}


a:link {
    color:white;
    text-decoration: none;
  }
  

a:visited {
    color: white;
  }
  
 
a:hover {
    color: #c23131;
  }
  

a:active {
    color: rgba(194, 49, 49);
}

.intro {
    width: 50%;
    background-color:  rgba(15, 6, 6, 0.7);
    margin: 0 auto;
    
   
}

.intro-text {
    color: white; 
    font-size: 20px;
    text-align: center;
    padding: 0 6rem;
    
}

.cta {
    position: relative;
    margin: 0 auto;
    display: flex;
    padding-top: 3rem;
    margin-top: 100px;
}

#cta-button {
    background-color: white;
    color: rgba(194, 49, 49);
    padding: 0 2rem;
    border-radius: 30px;
    font-size: 2rem;
    font-family: 'Mr Dafoe';
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 5px;
} 

#cta-button:hover {
    background-color: white;
    color: black;
    
}


.blogg-links {
    display: flex;
    color: white;

}



.footer-container {
    background-color: black;
    width: 100%;
    color: white;
}

.footer-content {
   display: flex;
   flex-direction: row;
   width: 100%;
   margin: 0 auto;
   border-top: 2px solid white;
   list-style: none;
 
}

#footer-content-item {
    font-family: 'Mr Dafoe', cursive;
    font-size: 2rem;
    padding: 3rem;
    text-decoration: none;
    border-left: 2px solid white;
    margin: 0 auto;
}

.footer-content-item {
    font-family: 'Mr Dafoe', cursive;
    font-size: 2rem;
    padding: 3rem;
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    position: relative;
    
}

/* Blog */

.blog-container {
    color: white;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: auto;
    display: flex;
    gap: 20px;
    background-color: black;
    padding: 1rem;
    margin-top: 60px;

}

.blog-article {
    justify-content: flex-start;


}

.blog-content {
    opacity: 1.0;

}

.blog-content:hover {
    opacity: 0.5;

}

.blog-content::after {
    opacity: 1.0;

}


.slideshow-container {
    color: white;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
     position: relative;
    margin: auto;
    display: flex;
    gap: 20px;
    background-color: black;
    padding: 1rem;
   
}

.mySlides fade {
    display: none;
}

.mySlides {
    height: 100%;

}

.prev, .next {
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
   
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    display: none;
    
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  
} 

.link-items {
    
    opacity: 1.0;
  
}

.link-items:hover {
     opacity: 0.5;

}

.link-items::after {
     opacity: 1.0;

}

/* About */

.about-container {

}

.about-item-container {
    display: flex;
    background-color: black;
    padding-bottom: 5rem;

}

.about-content {
    justify-content: space-between;
    background-color: white;
    width: 50%;
    padding: 2rem;
    padding-top: 3rem;
}

#about-content {
    border: 3px solid white;
    width: 50%;
    height: 50%;

}

#link {
    color: rgba(194, 49, 49);
}

#link:hover {
    color: darkgrey;
    transition-duration: 0.4s;
    cursor: pointer;

}

/* Contact form*/

.form-container {
    border-radius: 5px;
    background-color: black;
    padding: 3rem;
    margin: 0 auto;
    width: 60%;
  }

input[type=text], select, textarea{
    width: 80%; 
    padding: 12px;  
    border: 2px solid white;
    box-sizing: border-box; 
    margin: 2rem;
    resize: vertical; 
  }

.contact-container {
      display: flex;
      flex-direction: row;
      background-color:  rgba(15, 6, 6, 0.7);
}

.container-items {
    color:white;
    align-items: flex-end;
    
}

.contact {
      padding-top: 20px;
      padding-bottom: 20px;
      justify-content: space-between;
      gap: 100px;
      color: white;
      font-family: 'Mr Dafoe', cursive;
      margin: 0 auto;
      text-align: center;
}

#email {
    width: 60%;
    color: white;
    padding: 1rem 1rem;
    margin-left: 40px;
    margin-right: 10px;

}

.submit-button {
    display: flex;
    padding-top: 1rem;

}

input[type=submit] {
    background-color: white;
    color: rgba(194, 49, 49);
    padding: 0 2rem;
    border-radius: 30px;
    font-size: 2rem;
    font-family: 'Mr Dafoe';
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 0 auto;
}

input[type=submit]:hover {
    color: white;
    background-color: black;
}



@media only screen and (max-width: 767px) { .slideshow-container
    { 
        display: row;
     }
 }


 

@media only screen and (max-width: 767px) { body 
    {  background-image: url(/images/mobile/background-mobile.jpg); }
 }

 @media only screen and(max-width:767px) {
    label {
        display: block;
        cursor:pointer;
    }
    nav {
        text-align: center;
        width: 100%;
    }
    nav a {
        display: block;
        border-bottom: 1 px #404040;
    }
}
